In [1]:
import pandas as pd

In [5]:
bd = pd.read_csv('data/final_dataset.csv', index_col='id')

In [13]:
bd.iloc[:, 1:25].values

array([[11.73837668,  9.36609743,  8.53320976, ...,  7.37310628,
         6.98291571,  8.50501861],
       [11.14965968,  8.48235694,  8.39667985, ...,  7.08826035,
         7.3035332 ,  7.653311  ],
       [12.29529043, 10.05594961,  7.70921527, ...,  7.6793801 ,
         7.05580474,  8.22644193],
       ...,
       [11.78724357,  8.49390867,  7.82551214, ...,  7.17598361,
         6.83763877,  7.98825069],
       [11.16999638,  8.88673782,  7.63517898, ...,  7.7377267 ,
         6.95816183,  7.75278944],
       [ 0.12678057,  0.1942281 ,  0.1459278 , ...,  0.23032355,
         0.2710979 ,  0.22243273]])

In [15]:
bd['ValueForCachbak'] = bd.iloc[:, 1:25].apply(list, axis=1)

In [26]:
bd['ValueForStatistic'] = bd.iloc[:, 25:-7].apply(list, axis=1)

In [32]:
col = bd.columns[1:25]

In [33]:
col

Index(['Свежие продукты питания', 'Ювелирные изделия', 'Товары для дома',
       'Entertainment certificates', 'Charity', 'Автотовары',
       'Крупная бытовая техника', 'Товары для животных', 'DIY', 'NewBorn',
       'Аксессуары для электроники', 'Мебель', 'Смартфоны и планшеты',
       'Компьютеры и ноутбуки', 'Товары для мам и детей', 'Одежда',
       'Товары повседневного спроса', 'Продукты питания',
       'Малая бытовая техника', 'Книги', 'ТВ и аудио', 'Аптека',
       'Спорт и отдых', 'Красота и здоровье'],
      dtype='object')

In [36]:
dat = bd.iloc[:, [0, 54, 55, 52]]

In [48]:
df = pd.DataFrame({'NameOfCategory': col})

# Преобразование списка в строки
# df_exploded = df.explode('NameOfCategory', ignore_index=True)

# Вывод DataFrame после преобразования
df_exploded.to_csv('data/category.csv')

In [43]:
dat.set_index('Name').to_csv('data/bd.csv')

In [25]:
import random
import datetime

def generate_random_date(index):
    start_date = datetime.datetime(2023, 1, 1)
    random_seconds = random.randint(0, 604800) # 7 days in seconds
    random_date = start_date + datetime.timedelta(seconds=random_seconds) 
    return random_date.strftime("%d.%m.%Y %H:%M:%S")
data['date'] = [generate_random_date(i) for i in range(len(data))]
data

,Name,Answer,Price,date
0,Абакелия Мукас Робертовна,Illusion,599,01.01.2023 06:27:26
1,Абакелия Мукас Робертовна,New joe and mac caveman ninja,349,03.01.2023 08:22:32
2,Абакелия Мукас Робертовна,Next up hero,289,03.01.2023 14:33:37
3,Абакелия Мукас Робертовна,Rogue legacy 2,360,05.01.2023 18:05:14
4,Абакелия Мукас Робертовна,Ted-эффект. как провести визуальную презентаци...,498,05.01.2023 05:32:15
...,...,...,...,...
298785,Яшкова Надежда Алексеевна,Чай черный richard royal ceylon крупнолистовой...,299,05.01.2023 17:24:05
298786,Яшкова Надежда Алексеевна,Чулки женские omsa malizia полиамид daino беже...,599,03.01.2023 20:18:41
298787,Яшкова Надежда Алексеевна,Швабра master fresh для пола с роликовым отжим...,119,06.01.2023 01:11:30
298788,Яшкова Надежда Алексеевна,Шоколад milka молочный с печеньем орео и ванил...,69,05.01.2023 03:19:02
298789,Яшкова Надежда Алексеевна,Шоколадные конфеты красный октябрь вдохновение...,349,01.01.2023 10:35:56

In [ ]:
data.to_sql('data/')